.sliderContainer {
    /* width of histogram div plus width of each button*/
    width: calc(100% - 55px);
    height: 2em;
    margin-left: 55px;
    position: relative;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    float: right;
}
.sliderBar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #0074d9;
}

.sliderBarOverlay {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: lightgray;
}
