.positiveBar {
    position: relative;
    transform: scaleY(0);
    transform-origin: bottom;
    animation-name: barExpand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    .tooltip {
        top: -50px;
        .tooltipArrow {
            bottom: 50px;
        }
    }
    &:hover {
        cursor: pointer;
        .tooltip {
            opacity: 1;
            top: -60px;
        }
    }
}

.negativeBar {
    position: relative;
    transform: scaleY(0);
    transform-origin: top;
    animation-name: barExpand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    .tooltip {
        top: -50px;
        .tooltipArrow {
            bottom: 50px;
        }
    }
    &:hover {
        cursor: pointer;
        .tooltip {
            opacity: 1;
            top: -60px;

        }
    }
}


@keyframes barExpand {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}


.tooltip {
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    left: calc(50% - 90px);
    transition: all 0.25s;
    border-radius: 5px;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    p {
        margin: 0;
    }

    .tooltipArrow {
        position: absolute;
        left: 0;
        margin: 0;
        box-sizing: border-box;
        box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .tooltipArrow::after {
        content: "";
        position: absolute;
        top: 3em;
        left: 5em;
        width: 0;
        height: 0;
        box-sizing: border-box;
        border: 7px solid black;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    }
}
